In [2]:
import pandas as pd 
import numpy as np 
%matplotlib inline

In [4]:
df = pd.read_csv('weather.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MONTH     8784 non-null   int64
 1   DAY       8784 non-null   int64
 2   TIME      8784 non-null   int64
 3   TEMP      8784 non-null   float64
 4   PRESSURE  8784 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 343.2 KB

In [6]:
df.describe()

             MONTH          DAY         TIME         TEMP      PRESSURE
count  8784.000000  8784.000000  8784.000000  8784.000000   8784.000000
mean      6.513661   183.500000    12.500000    10.768613  10159.254781
std       3.451430   105.660719     6.922581     6.420003    102.895130
min       1.000000     1.000000     1.000000    -6.500000   9812.000000
25%       4.000000    92.000000     6.750000     6.100000  10102.000000
50%       7.000000   183.500000    12.500000    10.200000  10169.000000
75%      10.000000   275.000000    18.250000    15.900000  10227.000000
max      12.000000   366.000000    24.000000    31.700000  10453.000000